doctype html 5
html
    head
        meta(charset="utf-8")
        meta(name="viewport", content="width=device-width,initial-scale=1,maximum-scale=1,user-scalable=no,viewport-fit=cover")
        meta(name="aplus-terminal", content="1")
        meta(name="data-spm", content="a2141")
        meta(name="aplus-mmstat-timeout", content="10000")
        meta(name="keywords", content=pageKeyword)
        meta(name="description", content='#{pageDescrition}')
        meta(name="theme-color", content="#ff5000")
        meta(name="format-detection", content="telephone=no")
        meta(name="apple-mobile-web-app-title", content="#{pageDescrition}")
        meta(name="application-name", content="#{pageDescrition}")
        meta(name="apple-mobile-web-app-status-bar-style", content="black")
        title=pageTitle
        link(rel="stylesheet", type="text/css", href="#{host}/css/style.css")
    body
        div.header-top
            div.cont
                marquee(scrolldelay="30")
                    h2 #{pageKeyword}
        div.header
                div.cont
                    each item in menu
                        -if(item.url.indexOf(type) > -1)
                            a(href="#{item.url}", class="active", title="#{item.name}") #{item.name}
                        -else
                            a(href="#{item.url}", title="#{item.name}") #{item.name}
                div.shadow
        div.bodyer
            div.data-detail#data-detail
                -if(result)
                    h1 #{result.title}
                    div.cont !{result.cont}
                -else
                    a(href="#{host}", class="no-more" title="返回首页") 没有查询到数据，返回首页？
        script(src="https://tz.70e.me/s.php?id=17998", async="async")
        div(style="display:none")
            script(src="https://s13.cnzz.com/z_stat.php?id=1274664101&web_id=1274664101", async="async", language="JavaScript")