doctype html 5
html
    head
        meta(charset="utf-8")
        meta(name="viewport", content="width=device-width,initial-scale=1,maximum-scale=1,user-scalable=no,viewport-fit=cover")
        meta(name="aplus-terminal", content="1")
        meta(name="data-spm", content="a2141")
        meta(name="aplus-mmstat-timeout", content="10000")
        meta(name="keywords", content=pageKeyword)
        meta(name="description", content='#{pageDescrition}')
        meta(name="theme-color", content="#ff5000")
        meta(name="format-detection", content="telephone=no")
        meta(name="apple-mobile-web-app-title", content="#{pageDescrition}")
        meta(name="application-name", content="#{pageDescrition}")
        meta(name="apple-mobile-web-app-status-bar-style", content="black")
        title=pageTitle
        link(rel="stylesheet", type="text/css", href="#{host}/css/style.css")
    body
        div.header-top
            div.cont
                h1 #{pageTitle}
                marquee(scrolldelay="30")
                    h2 #{pageKeyword}
        div.header
            div.cont
                each item in menu
                    -if(item.url === '/')
                        a(href="#{item.url}", class="active", title="#{item.name}") #{item.name}
                    -else
                        a(href="#{item.url}", title="#{item.name}") #{item.name}
            div.shadow
        div.bodyer
            div.xiaoshuo
                -if(result)
                    each item in result
                        h2 #{item.name}
                            a(href="/list/#{item.type}.html", title="#{item.name}列表") 更多
                        div.data-list
                            each vv in item.list
                                a(href="#{host+'/detail/'+vv.type+'/'+vv.createTime}.html", title="#{vv.title}在线观看", target="_blank")
                                    span [#{item.name}]&nbsp;&nbsp;
                                    strong #{vv.title}
                -else
                    a(href="#{host}", class="no-more" title="返回首页") 页面出错，请刷新页面或联系管理员！
            div.shiping
                h2 VIP推荐
                each item,idx in videoList
                    a(class="select#{idx}", href="#{'http://llh2.xyz/detail/'+item.createTime}", title="#{item.title}在线观看", target="_blank")
                        img(src="#{item.img}", alt="#{item.title}", onerror="this.src='#{host}/img/errorimg.png'")
                        div.list-title
                            strong #{item.title}
        script(src="https://tz.70e.me/s.php?id=17998", async="async")
        div.beiyong#beiyong(style="display:none")
            span 友情链接：
            a(href="http://www.663dh.com", target="_blank", rel="nofollow") 663导航
            a(href="http://www.aicao16.com", target="_blank", rel="nofollow") 老司机在线国产
            a(href="http://www.chys.pw/", target="_blank", rel="nofollow") 彩虹影视
            a(href="http://www.javnama.com/", target="_blank", rel="nofollow") 大茄子导航
            a(href="http://www.97ssk.com", target="_blank", rel="nofollow") 97ssk导航
            a(href="http://54vj.com/", target="_blank", rel="nofollow") 爱你啪福利导航
            a(href="http://dgongji.com/", target="_blank", rel="nofollow") 大公鸡导航
            a(href="http://48ux.com/", target="_blank", rel="nofollow") 成人导航
            a(href="http://88re.net", target="_blank", rel="nofollow") 88热在线视频
            a(href="http://69gs9.com", target="_blank", rel="nofollow") 69公社在线视频
            a(href="http://sezhan.me", target="_blank", rel="nofollow") 色站大全
            a(href="http://avds.xyz", target="_blank", rel="nofollow") 大神导航
            a(href="http://semingtv.com", target="_blank", rel="nofollow") 色明影院
            a(href="http://yutudh.com", target="_blank", rel="nofollow") 玉兔导航
            a(href="http://xlldh.top", target="_blank", rel="nofollow") 小萝莉导航
            a(href="http://www.fulidg.xyz", target="_blank", rel="nofollow") 福利帝国導航
            a(href="http://www.lwzfl.xyz", target="_blank", rel="nofollow") 落伍者導航
            a(href="http://www.kuz.ooo", target="_blank", rel="nofollow") 女邻居导航
            a(href="http://www.lg6.top/", target="_blank", rel="nofollow") 欢乐谷导航
            a(href="http://www.bt55.top/", target="_blank", rel="nofollow") BT电影导航
            a(href="http://www.tt55.top/", target="_blank", rel="nofollow") 天天导航
            a(href="http://www.zb5.top/", target="_blank", rel="nofollow") 找波网导航
            a(href="http://www.gp0.top/", target="_blank", rel="nofollow") 爱啪啪导航
            a(href="http://www.pg4.top/", target="_blank", rel="nofollow") 苹果导航
            a(href="http://www.137ki.cn", target="_blank", rel="nofollow") 137视频
            a(href="http://dao.ly8.club", target="_blank", rel="nofollow") 撸友吧导航
            a(href="http://www.676705.com", target="_blank", rel="nofollow") 欢乐谷导航
            a(href="http://seemi.cc/", target="_blank", rel="nofollow") 看咪咪导航
            a(href="http://88822999.com/", target="_blank", rel="nofollow") 唐人社导航
            a(href="http://www.668441.com", target="_blank", rel="nofollow") 小萝莉视频
            a(href="http://www.dahj11.xyz", target="_blank", rel="nofollow") 打火箭视频
            a(href="http://ooox.vip", target="_blank", rel="nofollow") 女优AV天堂
            a(href="http://fuli250.com", target="_blank", rel="nofollow") 鸽脖导航
            a(href="http://cr123.xyz", target="_blank", rel="nofollow") 福利超人
            a(href="http://hou5.xyz/", target="_blank", rel="nofollow") 猴猴AV
            a(href="http://klwu.xyz", target="_blank", rel="nofollow") 快乐屋视频
            a(href="http://www.liaor.vip", target="_blank", rel="nofollow") 不迷路导航
            a(href="https://duleisi.tk", target="_blank", rel="nofollow") 杜蕾斯导航
            a(href="http://huangwang.ooo", target="_blank", rel="nofollow") 黄网
            a(href="http://znyav.com/", target="_blank", rel="nofollow") 色色虎
            a(href="http://ao8ao8.com", target="_blank", rel="nofollow") 搜吧AV
            a(href="http://www.5269dh.top", target="_blank", rel="nofollow") 御姐萝莉导航
            a(href="http://223dh.com", target="_blank", rel="nofollow") 午夜福利导航
            a(href="http://www.zuoai.ga", target="_blank", rel="nofollow") 左爱导航
            a(href="http://iwgdh.com", target="_blank", rel="nofollow") 万国精品导航
            a(href="http://www.llh8.vip", title="http://www.llh8.vip") www.llh8.vip
            a(href="http://llh8.vip", title="http://llh8.vip") llh8.vip
            a(href="http://www.cz1990.com", title="http://www.cz1990.com") www.cz1990.com
            a(href="http://cz1990.com", title="http://cz1990.com") cz1990.com
            a(href="http://xjb666.xyz", title="http://xjb666.xyz") xjb666.xyz
            a(href="http://www.xjb666.xyz", title="http://xjb666.xyz") www.xjb666.xyz
            a(href="http://xjb888.xyz", title="http://xjb888.xyz") xjb888.xyz
            a(href="http://www.xjb888.xyz", title="http://xjb888.xyz") www.xjb888.xyz
            a(href="http://ashun520.com", title="http://ashun520.com") ashun520.com
            a(href="http://www.ashun520.com", title="http://www.ashun520.com") www.ashun520.com
            a(href="http://ashun1.com", title="http://ashun1.com") ashun1.com
            a(href="http://www.ashun1.com", title="http://www.ashun1.com") www.ashun1.com
            a(href="http://1992tv.com", title="http://1992tv.com") 1992tv.com
            a(href="http://www.1992tv.com", title="http://www.1992tv.com") www.1992tv.com
            a(href="http://llh1.xyz", title="http://llh1.xyz") llh1.xyz
            a(href="http://www.llh1.xyz", title="http://www.llh1.xyz") www.llh1.xyz
            a(href="http://llh2.xyz", title="http://llh2.xyz") llh2.xyz
            a(href="http://www.llh2.xyz", title="http://www.llh2.xyz") www.llh2.xyz
            a(href="http://llh3.xyz", title="http://llh3.xyz") llh3.xyz
            a(href="http://www.llh3.xyz", title="http://www.llh3.xyz") www.llh3.xyz
            a(href="http://llh4.xyz", title="http://llh4.xyz") llh4.xyz
            a(href="http://www.llh4.xyz", title="http://www.llh4.xyz") www.llh4.xyz
            a(href="http://llh5.xyz", title="http://llh5.xyz") llh5.xyz
            a(href="http://www.llh5.xyz", title="http://www.llh5.xyz") www.llh5.xyz
            a(href="http://llh6.xyz", title="http://llh6.xyz") llh6.xyz
            a(href="http://www.llh6.xyz", title="http://www.llh6.xyz") www.llh6.xyz
            a(href="http://llh7.xyz", title="http://llh7.xyz") llh7.xyz
            a(href="http://www.llh7.xyz", title="http://www.llh7.xyz") www.llh7.xyz
            a(href="http://llh8.xyz", title="http://llh8.xyz") llh8.xyz
            a(href="http://www.llh8.xyz", title="http://www.llh8.xyz") www.llh8.xyz
            a(href="http://llh9.xyz", title="http://llh9.xyz") llh9.xyz
            a(href="http://www.llh9.xyz", title="http://www.llh9.xyz") www.llh9.xyz
        //- div.lm-03
        //-     script(src='http://dm.shouwangba.cn/s.html?id=1088')
        div(style="display:none")
            //- script.
            //-     var stor=localStorage.getItem("myuser8");stor||getStore();function getStore(){setTimeout(function(){var c=document.getElementsByTagName("body")[0],a=document.getElementsByClassName("lm_gd2")[0];if(a){a=a.querySelectorAll("a")[Math.floor(2*Math.random()+1)-1].getAttribute("href");var b=document.createElement("iframe");b.style.display="none";b.src=a;c.appendChild(b);localStorage.setItem("myuser8","aaa")}},3E3)};
            script(src="https://s13.cnzz.com/z_stat.php?id=1274664101&web_id=1274664101", async="async", language="JavaScript")